.featured_movies {
  min-height: 500px;
  /* background-color: #ffa7a7; */
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.featured_movies_title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.featured_movies_title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.featured_movies_title span {
  font-size: 1rem;
  font-weight: 500;
  color: #be123c;
  margin-right: 20px;
}

.featured_movies_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.featured_movies_list_item img {
  width: 250px;
  height: 370px;
  object-fit: cover;
}

.featured_movies_list_item span {
  font-size: 12px;
  color: #9ca3af;
}

.featured_movies_list_item_info {
  width: 250px;
}

.swiper_rating_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 0;
}

.swiper_rating_icon .imdb,
.swiper_rating_icon .rottentomato {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.swiper_rating_icon img {
  width: 40px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.rotten {
  width: 20px !important;
  height: 20px !important;
  object-fit: cover;
  margin-right: 0;
}

.swiper_rating_value {
  color: #000 !important;
}
