.footer {
  position: relative;
  top: 50px;
  width: 90%;
  border-radius: 5px;
  background-color: #e1e1e1;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.footer h1 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding: 10px;
}
