.swiper_container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: aqua;
}

.swiper_poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.swiper_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper_content {
  position: absolute;
  color: white;
  max-width: 482px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  display: flex;
  left: 90px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.swiper_container .swiper_content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: 500;
}

.swiper_container .swiper_content p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.swiper_container .swiper_content .swiper_button {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  background-color: #be123c;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn_play_icon {
  margin-right: 10px;
}

.swiper_rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.swiper_rating_icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.swiper_rating .swiper_rating_icon img {
  width: 50px;
  object-fit: cover;
}

.swiper-hero-progress {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100px;
  height: 3px;
  background: #fff;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .swiper_content {
    left: 0px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .swiper_container .swiper_content h1 {
    font-size: 30px;
  }
  .swiper_container .swiper_content p {
    font-size: 14px;
  }
  .swiper_rating {
    margin-bottom: 10px;
  }
  .swiper_rating .swiper_rating_icon img {
    width: 30px;
  }
  .swiper_container .swiper_content .swiper_button {
    font-size: 14px;
    width: 100%;
    justify-content: center;
  }
}
