.movie_recommendation_container {
  /* position: relative; */
  top: 100px;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
}

.movie_recommendation_container h1 {
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.input_btn_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.movie_recommendation input {
  width: 100%;
  height: 60px;
  border: 1px solid #959595;
  border-radius: 5px;
  padding-left: 10px;
  background: #e1e1e1;
  outline: none;
}

.movie_suggestions {
  background-color: #e1e1e1;
  list-style: none;
}

.movie_suggestions li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.movie_suggestions li:hover {
  background-color: #959595;
}

.movie_recommendation button {
  background-color: #ff5a5a;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.recommended_movies_container {
  height: 300px;
  width: 100%;
  background-color: #e1e1e1;
}
