@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}
nav {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_searchbar {
  box-sizing: content-box;
  width: 30%;
  height: 30px;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 4px 10px;
  border-radius: 10px;
}

.search_input_feild {
  background: #ffffff00;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  color: #fff;
}

.search_input_feild::placeholder {
  color: #fff;
  font-weight: 300;
}

.nav_search_button {
  color: #fff;
  font-size: 20px;
}
